
@{
    ViewBag.Title = "afterlogin";
}
<a href="~/Home/index">
    <center>
        <div style="color:#072227; margin-top:100px;">
            <h1>Welcome to </h1>
          

        </div>
        <span style="font-size:70px;">
            <span><span style="color:#35858B;"> Ceylon</span> <span style="color:#35858B;">Hotel </span></span>
        </span>
        <h4 style="color:#072227;">Please Enter to Continue..</h4>
    </center>
</a>